<h1>Favrites</h1>

<% @favorites.each do |favorite| %>
  <div class="pictures center-block">

    <div class="content user_name">
      <%= favorite.user.name %>
    </div>
    <p><%= image_tag favorite.image_url %></p>

    <div class="content_area">
      <%= good_on_off_button_helper(favorite.id, current_user.id) %>

      <p class="content"><%= favorite.content %></p>
    </div>
  </div>
<% end %>
