<p id="notice"><%= notice %></p>

<p>
  <%= @user.name %>さんのページ /
  <%= link_to 'プロフィール編集', edit_user_path(@user) %>
</p>

<div class="user_pictures">
  <ul class="row">
    <% @user.pictures.each do |user| %>
      <li class="col-sm-6 col-md-4"><%= link_to image_tag(user.image_url), picture_path(user.id) %></li>
    <% end %>
  </ul>
</div>
